<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>Upload files to IPFS</h1>

    <p>
        Send file content in String, Blob or ReadableStream<Uint8Array> format to 
        localhost:3000/upload as POST request.    
    </p>

    <p>You can see the content at http://ipfs.io/ipfs/YOUR-FILE-HASH</p>

</body>
</html>